<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="百度" icon-off="ion-ios7-world-outline" icon-on="ion-ios7-world" href="#/tab/baidu">
        <ion-nav-view name="tab-baidu"></ion-nav-view>
    </ion-tab>

    <ion-tab title="谷歌" icon-off="ion-ios7-world-outline" icon-on="ion-ios7-world" href="#/tab/google">
        <ion-nav-view name="tab-google"></ion-nav-view>
    </ion-tab>

    <ion-tab title="天地图" icon-off="ion-ios7-world-outline" icon-on="ion-ios7-world" href="#/tab/tianditu">
        <ion-nav-view name="tab-tianditu"></ion-nav-view>
    </ion-tab>

    <ion-tab title="混合" icon-off="ion-ios7-world-outline" icon-on="ion-ios7-world" href="#/tab/hybrid">
        <ion-nav-view name="tab-hybrid"></ion-nav-view>
    </ion-tab>


</ion-tabs>
